select{
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  padding: 0.5rem;
  letter-spacing: 0.2rem;
  border-color: rgb(6, 6, 52);
  border-width: 2px;
  color: rgb(6, 6, 52);
  background-color: rgb(246, 249, 252);
  width: 32rem;
}

.dropdown-wrapper{
  display: flex;
  justify-content: center;
}

.dropdown-wrapper :hover{
  cursor: pointer;
  border: solid rgb(6, 6, 52);
}
