input{
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  padding: 0.5rem;
  letter-spacing: 0.2rem;
  border-color: rgb(6, 6, 52);
  color: rgb(6, 6, 52);
  background-color: rgb(246, 249, 252);
  width: 8rem;
}

.input-wrapper{
  display: flex;
  margin-bottom: 0 auto 0 auto;
}

.input-wrapper :hover{
  border: solid rgb(6, 6, 52);
}