.colorInfo{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2rem auto 0 auto;
  justify-content: center;
  align-items: center;
  color: rgb(6, 6, 52);
}

#info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: beige;
  padding: 1rem 2rem 2rem 2rem;
  border: solid rgb(194, 194, 175);
  margin-top: 2rem;
  display: none;
  color: rgb(6, 6, 52);
}

h1{
  font-size: 40px;
}

#colorDiv{
  height: 7rem;
  width: 11rem;
  margin: 1rem;
  border-radius: 5%;
  background-color: powderblue;
}