.header{
  height: 6rem;
  padding: 2rem 3rem 1rem 5rem;
  font-size: 4.5rem;
  overflow: hidden;
  background-color: powderblue;
  font-weight: 525;
  box-shadow: 3px 3px 5px 6px #ccc;
  align-content: center;
  color: rgb(6, 6, 52);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#image{
  height: 50px;
  margin-right: 1.5rem;
}