:root{
  min-width: 70vw;
  max-width: 100vw;
  background-color: rgb(252, 252, 245);
}

.mainDiv {
  min-height: 80vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(6, 6, 52);
  gap: 1rem;
}

.chooseDiv{
  display: flex;
  gap: 1rem;
}

.div-wrapper{
  width: 70%;
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 8rem);
  grid-template-rows: auto;
}

p{
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

#errorMessage{
  color: red;
  display: none;
}