:root{
  min-width: w;
  max-width: 100vw;
  background-color: rgb(252, 252, 245);
}

.mainDiv {
  min-height: 90vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(6, 6, 52);
  margin: 0 auto 0 auto;
  gap: 1rem;
}

.chooseDiv{
  display: flex;
  gap: 1rem;
}

#errorMessage{
  color: red;
  visibility: hidden;
}